/* You can add global styles to this file, and also import other style files */

/*
@import "styles/form";
@import "styles/card";
@import "styles/button";
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* UI Kit (css framework) */
@import url('https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css');

html, body {
  background-color: #F7F8F9;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FD5353;
}

.full-width { width: 100% }
.text-center { text-align: center }
.container {
  margin: auto;
  width: 1200px
}

.logo {
  color: #F45D48 !important;
  font-size: 3em;
  font-family: 'Poiret One', cursive;
}