<div class="login container">
    <div class="uk-card uk-card-default">
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title">Log in</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <form>
                    <fieldset class="uk-fieldset">

                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Username">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Password">
                        </div>
                    </fieldset>

                    <div class="uk-button-group login__action__button">
                        <button type="submit" class="uk-button uk-button-primary uk-button-large">Sign In</button>
                        <button class="uk-button uk-button-default uk-button-large">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

